<?xml version="1.0" encoding="utf-8" ?>
<data>
	<locais>
		<local>
			<name>as pirâmides do Egito</name>
			<latitude>30</latitude>
			<longitude>31</longitude>
			<imagem>assets/images/piramide.png</imagem>
			<mensagem>Localize as pirâmides do Egito. Coordenadas: 30ºN 31ºE</mensagem>
		</local>
		
		<local>
			<name>a torre Eiffel</name>
			<latitude>48</latitude>
			<longitude>2</longitude>
			<imagem>assets/images/torre.png</imagem>
			<mensagem>Localize a torre Eiffel. Coordenadas: 48ºN 2ºE</mensagem>
		</local>
		
		<local>
			<name>a estátua da Liberdade</name>
			<latitude>41</latitude>
			<longitude>-74</longitude>
			<imagem>assets/images/liberdade.png</imagem>
			<mensagem>Localize a estátua da Liberdade. Coordenadas: 41ºN 74ºW</mensagem>
		</local>
		
		<local>
			<name>o Taj Mahal</name>
			<latitude>27</latitude>
			<longitude>78</longitude>
			<imagem>assets/images/taj.png</imagem>
			<mensagem>Localize o Taj Mahal. Coordenadas: 27ºN 78ºE</mensagem>
		</local>
		
		<local>
			<name>o monte Everest</name>
			<latitude>28</latitude>
			<longitude>87</longitude>
			<imagem>assets/images/monte.png</imagem>
			<mensagem>Localize o monte Everest. Coordenadas: 28ºN 87ºE</mensagem>
		</local>
		
		<local>
			<name>o Cristo Redentor</name>
			<latitude>-23</latitude>
			<longitude>-43</longitude>
			<imagem>assets/images/cristo.png</imagem>
			<mensagem>Localize o Cristo Redentor. Coordenadas: 23ºS 43ºW</mensagem>
		</local>
		
		<local>
			<name>o Uluru</name>
			<latitude>-25</latitude>
			<longitude>131</longitude>
			<imagem>assets/images/uluru.png</imagem>
			<mensagem>Localize o Uluru. Coordenadas: 25ºS 131ºE</mensagem>
		</local>
		
		<local>
			<name>o Kilimanjaro</name>
			<latitude>-4</latitude>
			<longitude>37</longitude>
			<imagem>assets/images/kili.png</imagem>
			<mensagem>Localize o Kilimanjaro. Coordenadas: 4ºS 37ºE</mensagem>
		</local>
		
		<local>
			<name>o Coliseu</name>
			<latitude>41</latitude>
			<longitude>12</longitude>
			<imagem>assets/images/coliseu.png</imagem>
			<mensagem>Localize o Coliseu. Coordenadas: 41ºN 12ºE</mensagem>
		</local>
		
		<local>
			<name>Tangamandápio</name>
			<latitude>19</latitude>
			<longitude>-102</longitude>
			<imagem>assets/images/tang.png</imagem>
			<mensagem>Localize Tangamandápio. Coordenadas: 19ºN 102ºW</mensagem>
		</local>
		
		<local>
			<name>o Titanic</name>
			<latitude>41</latitude>
			<longitude>-49</longitude>
			<imagem>assets/images/titanic.png</imagem>
			<mensagem>Localize o Titanic. Coordenadas: 41ºN 49ºW</mensagem>
		</local>
	</locais>
</data>